<header>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Erkul Online Satış Mağazası</h1>
            <p class="lead">Teknoloji Dünyasına Dair Aradıklarınız...<br>
                Online alışveriş yapmayı seviyor ve elektronik ürünlere uygun maliyetlerle sahip olmak istiyorsanız cep
                telefonundan bilgisayara, beyaz eşyadan televizyona aradığınız pek çok ürünü Elektronik kategorimizden
                bulabilirsiniz.Ayrıca yeni evlenecek çiftler ve evini yenileyecekler için onlarca farklı markanın
                çeşitli beyaz eşya modellerine de uygun fiyat avantajıyla hemen sahip olabilirsiniz.</p>
        </div>
    </div>
</header>