<h1>WAR AREA</h1>
<h3>Java Swing ile öğrenme aşamasında yaptığım bir proje.</h3>


<div class="mb-5">
    <img src="https://i.ibb.co/pZWFSXT/1login.png" alt="">
    <p>Login</p>
</div>
<div class="mb-5">
    <img src="https://i.ibb.co/G3kV0n8/2register.png" alt="">
    <p>Register</p>
</div>
<div class="mb-5">
    <img src="https://i.ibb.co/T0Mxmf0/3character.png" alt="">
    <p>Character Choose</p>
</div>
<div class="mb-5">
    <img src="https://i.ibb.co/1Jm4q5K/4difficulty.png" alt="">
    <p>Difficulty Choose</p>
</div>
<div class="mb-5">
    <img src="https://i.ibb.co/g6KVs8X/6swordshop.png" alt="">
    <p>Sword Shop</p>
</div>
<div class="mb-5">
    <img src="https://i.ibb.co/4fqDBWk/7armorshop.png" alt="">
    <p>Armor Shop</p>
</div>
<div class="mb-5">
    <img src="https://i.ibb.co/xMkg4Tf/mainpage.png" alt="">
    <p>Base</p>
</div>
<div class="mb-5">
    <img src="https://i.ibb.co/nDCQmxR/8items.png" alt="">
    <p>Items</p>
</div>
<div class="mb-5">
    <img src="https://i.ibb.co/jR8n3TD/9map.png" alt="">
    <p>Map</p>
</div>
<div class="mb-5">
    <img src="https://i.ibb.co/MNXKbbg/10patrol.png" alt="">
    <p>PatrolEasy</p>
</div>
<div class="mb-5">
    <img src="https://i.ibb.co/n7NpXj0/11patrol2.png" alt="">
    <p>PatrolHard</p>
</div>
<div class="mb-5">
    <img src="https://i.ibb.co/XD57wtR/12karakol.png" alt="">
    <p>HeadQuarter</p>
</div>
<div class="mb-5">
    <img src="https://i.ibb.co/54dzn0z/13forest.png" alt="">
    <p>Forest</p>
</div>
<div class="mb-5">
    <img src="https://i.ibb.co/fxwt5fF/14city.png" alt="">
    <p>City</p>
</div>

<div class="mb-5">
    <img src="https://i.ibb.co/NKTcxZr/15battle.png" alt="">
    <p>Battle</p>
</div>
<div class="mb-5">
    <img src="https://i.ibb.co/w04RdVf/16castle.png" alt="">
    <p>Castle</p>
</div>
<div class="mb-5">
    <img src="https://i.ibb.co/9Yn49k7/17darius.png" alt="">
    <p>Boss</p>
</div>



